@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-image: url('./img/bg-light.PNG');
    --text-color: rgb(30 41 59);
    --button-color: #e2e8f0;
    --title-text-shadow-color: rgba(61, 82, 117, 0.454);
    --drawing-grid-bg-color: rgb(246, 242, 242);
    --toggle-theme-button-bg: #e8e9ed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-image: url('./img/bg-dark.PNG');
        --text-color: #e2e8f0;
        --button-color: #e2e8f0;
        --title-text-shadow-color: #e2e8f07f;
        --drawing-grid-bg-color: rgb(30 41 59);
        --drawing-grid-border-color: rgb(51 65 85);
        --toggle-theme-button-bg: rgb(43, 58, 83);
    }
}

:root.dark {
    --bg-image: url('./img/bg-dark.PNG');
    --text-color: #e2e8f0;
    --button-color: #e2e8f0;
    --title-text-shadow-color: #e2e8f07f;
    --drawing-grid-bg-color: rgb(30 41 59);
    --drawing-grid-border-color: rgb(51 65 85);
    --toggle-theme-button-bg: rgb(43, 58, 83);
}

:root.light {
    --bg-image: url('./img/bg-light.PNG');
    --text-color: rgb(30 41 59);
    --button-color: #e2e8f0;
    --title-text-shadow-color: rgba(61, 82, 117, 0.454);
    --drawing-grid-bg-color: rgb(246, 242, 242);
    --toggle-theme-button-bg: #e8e9ed;
}

.toggle-theme-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--toggle-theme-button-bg);
    font-size: 1.2rem;
    border: none;
    height: 20px;
    width: 20px;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s transform;
    transform: scale(1);
}

.toggle-theme-button:hover {
    transform: scale(1.1);
}

.theme-name::after {
    content: var(--theme-name);
}

*, *::after, *::before {
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    margin: 0;
    background: var(--bg-image);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/**
======= HEADER ========
*/

header h1 {
    font-size: 2.3em;
    text-shadow: 0 3px var(--title-text-shadow-color);
    text-align: center;
}

header p {
    position: fixed;
    bottom: 0;
    right: 10px;
    margin: 0;
}

/**
======= DRAWING GRID ======
*/

section.drawing .drawing-grid-container {
    background-color: var(--drawing-grid-bg-color);
    border: 1px solid var(--drawing-grid-border-color);
    border-radius: 6px;
    display: flex;
    margin: 0 auto;
    width: 70vh;
    height: 70vh;
    flex-wrap: wrap;
}

section.drawing .drawing-grid-container .square {
    border: 1px solid rgb(148 163 184);
}

/**
====== COLOR-PALETTE =====
*/
.color-palette-container {
    width: 70vh;
    height: 4vh;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

.color-palette-container .color {
    width: 10%;
    height: 100%;
    border-radius: 0.2rem;
    top: 0;
    transform: scale(1);
    transition: top 0.2s;
    transition: transform 0.2s;
}

.active {
    position: relative !important;
    top: -2px !important;
    transform: scale(1.03) !important;
    border: 1px solid rgb(112, 144, 185);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-palette-container .color:hover {
    position: relative;
    top: -2px;
    transform: scale(1.03);
}

/**
=========== BUTTONS ========
*/
section.buttons .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70vh;
    margin: 0 auto 1rem auto;
    gap: 0.8rem;
}

section.buttons .buttons-container button {
    width: 33%;
    padding: 5px;
    background-color: rgb(30 41 59);
    border: 1px solid rgb(51 65 85);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    transform: scale(1);
    border-radius: 5px;
    color: var(--button-color);
    transition: transform 0.4s;
}

section.buttons .buttons-container button:hover {
    transform: scale(1.01);
    border: 1px solid rgb(65, 83, 107);
}

/**
=========== FOOTER ========
*/

footer {
    text-align: center;
    padding: 1rem 0;
}